*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

body{
    background: #1E1E1E;
}

a{
    text-decoration: none;
}

:root{
    --blue-col: #01acfd;
    --orange-col: #fea301;
    --paste-col :#27d9e2;
    --nevi-col:#5d58ef;
    --btn-col: #111111;
    --green-col: #95b226;
}

.container{
    max-width: calc(100% - 5.5%);
    margin-inline: auto;
    padding: 0 8%;
    background: #f7f7f7;
}

/* header section start */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-name{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navbar-items ul{
    display: flex;
    gap: 32px;
}

.navbar-items ul li{
    list-style: none;
}

.navbar-items ul li:nth-child(1){
    font-size: 20px;
    font-weight: 700;
}

.navbar-items ul li:nth-child(2),
.navbar-items ul li:nth-child(3),
.navbar-items ul li:nth-child(4)
{
    font-size: 20px;
    font-weight: 500;
}

.orange{
    color: var(--orange-col);
}

.blue{
    color: var(--blue-col);
}

.paste{
    color: var(--paste-col);
}

.nevi-blue{
    color: var(--nevi-col);
}

.navbar-icon{
    width: 62px;
    height: 62px;
}

.navbar_logo-name{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn{
    background: var(--orange-col);
    color: #ffff;
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}
/* header section end */

/* hero section start */
.banner-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.banner_inner-content{
    width: 640px;
}

.banner-title{
    font-size: 41px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 24px;
}

.banner-subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.banner-btn{
    background: var(--btn-col);
    padding: 10px 48px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
}
/* hero section end */

/* curriculum Section Start */

.curriculum > .container{
    background-image: url(assets/img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.curriculum-cards_items{
    padding: 60px 0;
}

.banner-heading-box{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 74px;

}

.curriculum-card-inner-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 29px;
}

.curriculum-card-one{
    border: 1px solid #DEF5FF;
    background: linear-gradient(#DEF5FF, white);
}
.curriculum-card-two{
    border: 1px solid #FFF4DC;
    background: linear-gradient(#FFF4DC, white);
}
.curriculum-card-three{
    border: 1px solid #F2E8FF;
    background: linear-gradient(#F2E8FF, white);
}

.curriculum-card-one,
.curriculum-card-two,
.curriculum-card-three{
    text-align:center;
    border-radius: 18.86px;
    padding: 52px 44px;
}

.card-title{
    font-size:24.52px;
    font-weight: bold;
    color: #202020;
    margin-top: 32px;
    margin-bottom: 33px;
}

.card-desc{
    color:#808080;
    font-size:15.09px;
    font-family: "Raleway", serif;
    line-height: 28px;
    margin-bottom: 33px;
}

.card-btn{
    font-weight: bold;
    font-size: 15.09px;
}

.slide_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    font-size: 24px;
    color: #fff;
}

.left,
.right{
    background: var(--orange-col);
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
}
/* curriculum Section end */

/* Story section Start */

.story > .container{
    background-image: url(assets/img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.story-inner-con{
    padding: 80px 0;
    background-color:linear-gradient(#F2E8FF, white);}

.story-heading{
    text-align: center;
}

.story-heading-title{
    font-size: 44px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 80px;
}

.story-box-one{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 16px;
}

.story-box-img{
    position: relative;
}

.story-box-img img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.story-box-time{
    position: absolute;
    top: 314px;
    left: 25px;
}

.story-box-time-zone{
    background: var(--paste-col);
    color: #fff;
    font-size: 15.34px;
    font-weight:400;
    padding: 14px 16px;
    border-radius: 48px;
}

.story-box-content{
    padding-top:56px;
    padding-bottom: 35px;
    padding-left:38px ;
}

.time-title{
    font-family: "Raleway", serif;
}

.story-box-title{
    width: 402px;
    font-size: 24px;
    font-weight: bold;
    line-height: 38.3px;
    color: #000000;
    margin-bottom: 38px;
}

.story-desc{
    width: 433.06px;
    font-size: 15.34px;
    line-height: 28.8px;
    font-family: "Raleway", serif;
    margin-bottom: 34px;
    color: #666666;
}

.story-box-layout{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.story_box-items{
    display: flex;
    gap: 20px;
}

.story-box-second-layout{
    display: flex;
    gap: 20px;
}

.story-box-third-layout{
    display: flex;
    gap: 20px;
}


.story-box-second-layout-content,
.story-box-third-layout-content{
    background: #fff;
    border-radius: 16px;
}

.story-box-second-layout-inner-content,
.story-box-third-layout-inner-content{
    border-radius: 16px;
    padding-top: 44px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
}

.story-box-second-layout-inner-content-img img,
.story-box-third-layout-inner-content-img img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.story-box-second-layout-inner-content-time-title,
.story-box-third-layout-inner-content-time-title{
    font-family: "Raleway", serif;
}

.story-box-second-layout-inner-content-time-zone,
.story-box-third-layout-inner-content-time-zone{
    background: var(--green-col);
    color: #fff;
    font-size: 15.34px;
    border-radius: 38px;
    padding: 10px 20px;
    width: 180px;
}

.story-box-second-layout-inner-content-img,
.story-box-third-layout-inner-content-img{
    position: relative;
}

.story-box-second-layout-inner-content-time{
    position: absolute;
    top: 170px;
    bottom: 2px;
    left: 30px;
}

.story-box-third-layout-inner-content-time{
    position: absolute;
    left: 30px;
    margin-top: -24px;
}

.story-box-second-layout-inner-content-title,
.story-box-third-layout-inner-content-title{
    font-weight: bold;
    line-height: 28.8px;
    font-size: 15.34px;

}

/* Story section End */