*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

body{
    background: #f7f7f7;
}

a{
    text-decoration: none;
}

:root{
    --blue-col: #01acfd;
    --orange-col: #fea301;
    --paste-col :#27d9e2;
    --nevi-col:#5d58ef;
    --btn-col: #111111;
    --green-col: #95b226;
}

.container{
    max-width: calc(100% - 5.5%);
    margin-inline: auto;
    padding: 0 8%;
}

/* header section start */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-name{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navbar-items ul{
    display: flex;
    gap: 32px;
}

.navbar-items ul li{
    list-style: none;
}

.navbar-items ul li:nth-child(1){
    font-size: 20px;
    font-weight: 700;
}

.navbar-items ul li:nth-child(2),
.navbar-items ul li:nth-child(3),
.navbar-items ul li:nth-child(4)
{
    font-size: 20px;
    font-weight: 500;
}

.orange{
    color: var(--orange-col);
}

.blue{
    color: var(--blue-col);
}

.paste{
    color: var(--paste-col);
}

.nevi-blue{
    color: var(--nevi-col);
}

.navbar-icon{
    width: 62px;
    height: 62px;
}

.navbar_logo-name{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn{
    background: var(--orange-col);
    color: #ffff;
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}
/* header section end */

/* hero section start */
.banner-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner_inner-content{
    width: 640px;
}

.banner-title{
    font-size: 41px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 24px;
}

.banner-subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.banner-btn{
    background: var(--btn-col);
    padding: 10px 48px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
}

/* curriculum Section Start */

.curriculum > .container{
    background-image: url(assets/img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.curriculum-cards_items{
    padding: 60px 0;
}

.banner-heading-box{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 74px;

}

.curriculum-card-inner-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 29px;
}

.curriculum-card-one{
    border: 1px solid #DEF5FF;
    background: linear-gradient(#DEF5FF, white);
}
.curriculum-card-two{
    border: 1px solid #FFF4DC;
    background: linear-gradient(#FFF4DC, white);
}
.curriculum-card-three{
    border: 1px solid #F2E8FF;
    background: linear-gradient(#F2E8FF, white);
}

.curriculum-card-one,
.curriculum-card-two,
.curriculum-card-three{
    text-align:center;
    border-radius: 18.86px;
    padding: 52px 44px;
}

.card-title{
    font-size:24.52px;
    font-weight: bold;
    color: #202020;
    margin-top: 32px;
    margin-bottom: 33px;
}

.card-desc{
    color:#808080;
    font-size:15.09px;
    font-family: "Raleway", serif;
    line-height: 28px;
    margin-bottom: 33px;
}

.card-btn{
    font-weight: bold;
    font-size: 15.09px;
}

.slide_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    font-size: 24px;
    color: #fff;
}

.left,
.right{
    background: var(--orange-col);
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
}
/* curriculum Section end */

/* Story section Start */

.story{
    background: url("./assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.story-inner-con{
    padding: 80px 0;
    background-color:linear-gradient(#F2E8FF, white);
}

.story-heading{
    text-align: center;
}

.story-heading-title{
    font-size: 44px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 80px;
}

.story-box-one{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 16px;
}

.story-box-img{
    position: relative;
}

.story-box-img img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.story-box-time{
    position: absolute;
    top: 314px;
    left: 25px;
}

.story-box-time-zone{
    background: var(--paste-col);
    color: #fff;
    font-size: 15.34px;
    font-weight:400;
    padding: 14px 16px;
    border-radius: 48px;
}

.story-box-content{
    padding-top:56px;
    padding-bottom: 35px;
    padding-left:38px ;
}

.time-title{
    font-family: "Raleway", serif;
}

.story-box-title{
    width: 402px;
    font-size: 24px;
    font-weight: bold;
    line-height: 38.3px;
    color: #000000;
    margin-bottom: 38px;
}

.story-desc{
    width: 433.06px;
    font-size: 15.34px;
    line-height: 28.8px;
    font-family: "Raleway", serif;
    margin-bottom: 34px;
    color: #666666;
}

.story-box-layout{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.story_box-items{
    display: flex;
    gap: 20px;
}

.story-box-second-layout{
    display: flex;
    gap: 20px;
}

.story-box-third-layout{
    display: flex;
    gap: 20px;
}


.story-box-second-layout-content,
.story-box-third-layout-content{
    background: #fff;
    border-radius: 16px;
}

.story-box-second-layout-inner-content,
.story-box-third-layout-inner-content{
    border-radius: 16px;
    padding-top: 44px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
}

.story-box-second-layout-inner-content-img img,
.story-box-third-layout-inner-content-img img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.story-box-second-layout-inner-content-time-title,
.story-box-third-layout-inner-content-time-title{
    font-family: "Raleway", serif;
}

.story-box-second-layout-inner-content-time-zone,
.story-box-third-layout-inner-content-time-zone{
    background: var(--green-col);
    color: #fff;
    font-size: 15.34px;
    border-radius: 38px;
    padding: 10px 20px;
    width: 180px;
}

.story-box-second-layout-inner-content-img,
.story-box-third-layout-inner-content-img{
    position: relative;
}

.story-box-second-layout-inner-content-time{
    position: absolute;
    top: 170px;
    bottom: 2px;
    left: 30px;
}

.story-box-third-layout-inner-content-time{
    position: absolute;
    left: 30px;
    margin-top: -24px;
}

.story-box-second-layout-inner-content-title,
.story-box-third-layout-inner-content-title{
    font-weight: bold;
    line-height: 28.8px;
    font-size: 15.34px;

}

.story-section-btn{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

/* Story section End */

/* Footer Section Start */

footer{
    background: var(--blue-col);
}
.footer-container{
    max-width: calc(100% - 5.5%);
    margin-inline: auto;
    padding: 0 8%;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 180px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer_logo-items{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.footer_desc{
    font-size: 22px;
    font-weight: 400;
}

.footer_inner-content{
    max-width: 420px;
}

.footer-heading{
    font-size: 43px;
    font-weight: bold;
    line-height: 39px;
}

.footer-link-header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px;
}

.footer-link-items ul{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer-link-items ul li{
    list-style: none;
}

.footer-link-items ul li a{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.footer-social-icon-title{
    font-size: 26;
    font-weight: bold;
    margin-bottom: 32px;
}

.footer-social-icons-lists{
    display: flex;
    gap: 10px;
}

.footer-social-icons-lists img{
    cursor: pointer;
}

/* Footer Section End */

/* Responsive Design start */
/* @media (max-width: 457px){
    
} */
/* 2xl */

@media screen and (max-width : 576px){
    .container{
        max-width: calc(100% - 10px);
        margin-inline: auto;
        padding: 0 2%;
    }

    .navbar{
        padding: 12px 0;
    }
    .navbar-name img{
        width: 40px;
        height: 40px;
    }

    .navbar_logo-name,
    .navbar-items,
    .main-btn{
        display: none;
    }

    header{
        border-bottom: 1px solid var(--orange-col);
    }

    .menu_bar i{
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin-right: 5%;
    }

    .banner-content{
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .banner-img img{
        width: 346px;
    }

    .banner_inner-content{
        text-align: center;
        max-width: 350px;
    }

    .banner-title{
        margin-top: 30px;
        font-size: 30px;
        line-height: 50px;
    }

    .banner-subtitle{
        font-size: 14px;
    }

    .banner-btn{
        padding:12px 26px;
        font-size: 16px;
    }

    .banner-heading{
        font-size: 26px;
    }

    .curriculum-card-inner-content{
        grid-template-columns: 1fr;
    }

    .card-title{
        font-size: 16.6px;
        margin-top: 10px;
    }

    .card-desc{
        font-size: 10.22px;
        line-height: 19px;
        max-width: 190px;
        margin: 0 auto;
        margin-top: -10px;
        margin-bottom: 20px
    }

    .card-btn{
        font-size: 10px;
    }

    .slide_icons{
        display: none;
    }

    .story-heading-title{
        font-size: 26px;
        margin-top: -66px;
    }

    .story-box-one{
        display: none;
    }

    .story-box-second-layout,
    .story-box-third-layout,
    .story-box-forth-layout{
        margin-top: -30px;
    }

    .story-box-second-layout-inner-content-time-zone,
    .story-box-third-layout-inner-content-time-zone,
    .story-box-forth-layout-inner-content-time-zone{
        padding: 8px 12px;
        width: 105px;
    }

    .story-box-second-layout-inner-content-time{
        margin-top: -28px;
    }

    .story-box-forth-layout-inner-content-img{
        position: relative;
    }

    .story-box-forth-layout-inner-content-time{
        position: absolute;
        margin-top: -15px;
        left: 20px;
    }

    .story-box-second-layout-inner-content-time-title,
    .story-box-third-layout-inner-content-time-title,
    .story-box-forth-layout-inner-content-time-title{
        font-size: 9.13px;
    }

    .story-box-second-layout-inner-content-title,
    .story-box-third-layout-inner-content-title,
    .story-box-forth-layout-inner-content-title{
        font-size: 12px;
        line-height: 17px;
    }

    .story-box-second-layout-inner-content,
    .story-box-third-layout-inner-content,
    .story-box-forth-layout-inner-content{
        border-radius: 16px;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 28px;
        padding-right: 26px;
    }

    .story-box-forth-layout{
        display: flex;
        gap: 20px;
    }

    .story-box-forth-layout-content{
        background: #fff;
        border-radius: 16px;
    }

    .story-box-forth-layout-inner-content-img img{
        width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    .story-box-forth-layout-inner-content-time-title{
        font-family: "Raleway", serif;
    }

    .story-box-forth-layout-inner-content-time-zone{
        background: var(--nevi-col);
        color: #fff;
        border-radius: 38px;
    }

    .story-btn{
        padding: 10px 50px;
        margin-top: -8%;
    }

    .footer-content{
        flex-direction: column;
    }
    
    .footer-container{
        padding: 16% 2%;
    }

    .footer_logo-items img{
        width: 68px;
        height: 68px;
    }

    .footer-heading{
        font-size: 34px;
    }

    .footer_desc{
        font-size: 1rem;
        margin-top: -8px;
    }

    .footer-link-header{
        font-size: 1.3rem;
        margin-bottom: 26px;
        margin-top: 32px;
    }

    .footer-link-items{
        margin-bottom: 30px;
    }

    .footer-link-items ul > li > a{
        font-size: 20px;
    }

    .footer-link-items ul{
        gap: 12px;
    }

    .footer-social-icon-title{
        font-size: 22px;
    }

    .footer-social-icons-lists img{
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width :577px) and (max-width: 1540px){
    .menu_bar{
        display: none;
    }

    .story-box-forth-layout{
        display: none;
    }
}
/* Responsive Design End */